<div class="pl-2">
  <div class="breze__flex py-2">
    <div class="breze__h2">Progression</div>
    <button (click)="generateRandomProgression()">Random progression</button>
  </div>
  <div class="breze__flex breze__flex-wrap breze__align-items-center">
    <bz-degree-picker
      [selectedDegree]="degree"
      *ngFor="let degree of _progression; let id = index"
      (degreeChange)="changeDegree(id, $event)"
    ></bz-degree-picker>
    <button
      (click)="addDegree()"
      class="breze__button breze__button--icon ml-2"
    >
      <span class="icon-add_circle"></span>
    </button>
  </div>
</div>
