<svg [attr.viewBox]="'0 0 ' + width + ' ' + height">
  <rect
    x="0"
    [attr.y]="boxHeight"
    [attr.width]="width"
    [attr.height]="boxHeight"
    class="breze__harmonica__rect"
  ></rect>
  <line
    class="breze__harmonica__line"
    *ngFor="let line of verticalLines"
    [attr.x1]="line.x1"
    [attr.x2]="line.x2"
    [attr.y1]="line.y1"
    [attr.y2]="line.y2"
  ></line>
  <text
    *ngFor="let box of textBoxes"
    [attr.x]="box.x"
    [attr.y]="box.y"
    dy="6"
    class="breze__harmonica__text-box"
  >
    {{ box.textContent }}
  </text>
</svg>
