<header
  class="
    breze__flex
    breze__card__header
    breze__justify-content-between
    breze__align-items-center
  "
>
  <div
    class="breze__card__title breze__h2 breze__flex breze__align-items-center"
  >
    <span *ngIf="genericState"
      >{{ genericState?.type?.label }}
      {{ genericState?.instrument.label }}</span
    >
    <span *ngIf="!genericState"> New card </span>
  </div>
  <div class="breze__flex breze__align-items-center">
    <button (click)="removeMe()" class="breze__button breze__button--icon ml-2">
      <span class="icon-delete"></span>
    </button>
    <button
      class="breze__button breze__button--icon ml-2"
      [disabled]="!genericState"
      (click)="askForDuplicate()"
    >
      <span class="icon-file_copy"></span>
    </button>
    <button
      (click)="optionShown = !optionShown"
      class="breze__button breze__button--icon ml-2"
    >
      <span class="icon-settings" *ngIf="!optionShown"></span>
      <span class="icon-clear" *ngIf="optionShown"></span>
    </button>
  </div>
</header>
<form
  [formGroup]="form"
  (ngSubmit)="updateChanges()"
  [ngClass]="{ breze__collapse: true, 'breze__collapse--open': optionShown }"
  class="breze__card__options"
>
  <div>
    <span class="input__label">Instrument</span>
    <div
      class="breze__radio"
      *ngFor="let instrument of instruments; let idInstr = index"
    >
      <input
        type="radio"
        [value]="instrument"
        [attr.id]="cardId + '-instr-' + idInstr"
        [attr.name]="cardId + '-instr'"
        formControlName="instrument"
      />
      <label
        [attr.for]="cardId + '-instr-' + idInstr"
        class="breze__radio-label"
        >{{ instrument.label }}</label
      >
    </div>
  </div>
  <div>
    <span class="input__label">Card Type</span>
    <div class="breze__radio" *ngFor="let type of types; let idType = index">
      <input
        type="radio"
        formControlName="type"
        [value]="type"
        [attr.id]="cardId + '-type-' + idType"
        [attr.name]="cardId + '-type'"
      />
      <label [attr.for]="cardId + '-type-' + idType" class="breze__radio-label">
        {{ type.label }}
      </label>
    </div>
  </div>
  <div class="breze__flex breze__justify-content-end breze__align-items-center">
    <button type="submit" class="breze__button">Apply change</button>
  </div>
</form>
<div
  class="breze__card__body breze__card__body--center"
  [ngClass]="{ 'breze__card__body--disabled': optionShown }"
>
  <div *ngIf="genericState?.type?.id === Types.PROGRESSION">
    <bz-progression
      [instrument]="genericState.instrument"
      [key]="stateV2.root"
      [progression]="stateV2.progression"
    ></bz-progression>
  </div>
  <div *ngIf="genericState?.type?.id === Types.SCALE">
    <bz-scale
      [instrument]="genericState.instrument"
      [key]="stateV2.root"
      [progression]="stateV2.progression"
    ></bz-scale>
  </div>
</div>
