<form
  class="breze__flex breze__align-items-center breze__justify-content-between"
  [formGroup]="form"
>
  <label [attr.for]="id + '-origin'">
    <span class="input__label"> Origin </span>
    <input
      [attr.id]="id + '-origin'"
      type="text"
      class="breze__input breze__key"
      formControlName="origin"
    />
  </label>
  <span class="icon-arrow_forward"></span>
  <label [attr.for]="id + '-target'">
    <span class="input__label">Target</span>
    <input
      [attr.id]="id + '-target'"
      type="text"
      class="breze__input breze__key"
      formControlName="target"
    />
  </label>
  <button class="breze__button breze__button--icon mr-2" (click)="removeMe()">
    <span class="icon-delete"></span>
  </button>
</form>
