@import './print/print';
@import './theme/variables';
@import './theme/layout';
@import './theme/flex';
@import './theme/button';
@import './theme/radio';
@import './theme/icons';
@import './theme/collapse';
@import './theme/card';
@import './theme/headings';
@import './theme/spacing';
@import './theme/animations';
@import './theme/navigation';
@import './theme/responsive';

body {
  padding: 0;
  margin: 0;
  background: #f0f0f0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

.input__label {
  display: block;
}

.dashboard {
  padding: 10px 0;
}

.breze__input[type='text'] {
  height: 34px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.breze__header__h1 {
  margin: 0;
  display: flex;
  align-items: center;
}

.breze__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.breze__input.breze__key {
  width: 50px;
}
