<div class="p-2 breze__subheader">
  <button
    class="breze__button mr-2"
    (click)="selectInstrument(instrument)"
    *ngFor="let instrument of instruments"
    [ngClass]="{
      'breze__button--active': currentInstrument.label === instrument.label
    }"
  >
    {{ instrument.label }}
  </button>
</div>
<div class="p-2 breze__subheader-2">
  <button
    class="breze__button mr-2"
    [ngClass]="{ 'breze__button--active': currentNote === note }"
    (click)="selectNote(note)"
    *ngFor="let note of notes"
  >
    {{ note }}
  </button>
</div>
<div class="breze__flex breze__flex-wrap p-2">
  <bz-diagram
    *ngFor="let chord of chordList.chords"
    [data]="currentInstrument"
    [label]="chord.name"
    [positions]="chord.positions"
    [lazyLoad]="true"
  >
  </bz-diagram>
</div>
