.breze__jumbotron {
  position: relative;
  min-height: 100vh;
  display: flex;
  padding: 10%;
  color: #333;
  flex-direction: row;
  background-image: url('/assets/background_min.svg');
  background-size: cover;
  background-attachment: fixed;
}

.breze__jumbotron-title {
  flex: 0.5;
}

.breze__jumbotron-h1 {
  font-size: 4rem;
}

.breze__jumbotron-h2,
.breze__jumbotron-subtitle {
  font-size: 2rem;
}

.breze__puff-in-center {
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

.breze__homepage__breze {
  animation-delay: 0.3s;
}
.breze__homepage__dot {
  animation-delay: 0.6s;
}
.breze__homepage__studio {
  animation-delay: 0.9s;
}

.breze__jumbotron-cards {
  flex: 0.5;
}

.breze__jumbotron-card {
  background: white;
  opacity: 0.9;
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .breze__jumbotron {
    flex-direction: column;
  }
  .breze__jumbotron-h1 {
    font-size: 2rem;
  }
  .breze__jumbotron-subtitle {
    font-size: 1.4rem;
  }
  .breze__jumbotron-h2 {
    font-size: 1.2rem;
  }
}
