<bz-navbar></bz-navbar>
<div class="breze__jumbotron breze__align-items-center">
  <div class="breze__jumbotron-title breze__flex-column">
    <h1 class="breze__jumbotron-h1 m-0">
      <span class="breze__homepage__breze breze__puff-in-center">Breze</span>
      <span class="breze__homepage__dot breze__puff-in-center">.</span>
      <span class="breze__homepage__studio breze__puff-in-center">studio</span>
    </h1>
    <div class="breze__jumbotron-subtitle">Making music a breeze</div>
  </div>
  <div
    class="
      breze__jumbotron-cards
      breze__flex-column
      breze__align-items-center
      breze__justify-content-center
    "
  >
    <div
      class="breze__jumbotron-card p-4 m-2"
      *ngFor="let link of homepageLinks"
    >
      <div class="breze__jumbotron-h2">{{ link.title }}</div>
      <div class="breze__jumbotron-card-body py-2">{{ link.description }}</div>
      <div class="breze__flex breze__justify-content-end pt-2">
        <a [routerLink]="link.link.target">{{ link.link.label }}</a>
      </div>
    </div>
  </div>
</div>
