.breze__diagram__string {
  stroke: #333;
  stroke-width: 1;
}

.breze__diagram__fret {
  stroke: #999;
}

.breze__diagram__fret--first {
  stroke: #333;
  stroke-width: 5;
}

.breze__diagram__bullet--empty {
  fill: white;
  stroke: #333;
  stroke-width: 1;
}

.breze__diagram__bullet--full {
  fill: #333;
}

.breze__diagram__label {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

.breze__diagram__fret-label {
  text-anchor: middle;
}

.breze__guitar-marker {
  fill: #ccc;
}
