<header
  class="
    breze__header breze__flex breze__flex-row breze__align-items-center
    px-2
  "
>
  <h1 class="breze__header__h1">
    <a
      [routerLink]="['/']"
      class="
        breze__navigation-link--semantic
        breze__flex-row
        breze__align-items-center
      "
    >
      <img src="assets/icons/icon.svg" class="mr-2 breze__logo" alt="" />
      <span class="breze__app-name">Breze.studio</span>
    </a>
  </h1>
  <bz-navigation></bz-navigation>
</header>
