.breze__navigation-link--semantic {
  text-decoration: none;
  color: inherit;
}

.breze__logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.breze__app-name {
  line-height: 2em;
}

@media only screen and (max-width: 600px) {
  .breze__app-name {
    display: none;
  }
}
