@import './variables.scss';

.breze__button {
  background: transparent;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 8px 10px;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  outline: none;
  transition: background $ease-in-out-curve-function 0.2s;
  font-size: 0.9rem;
}

.breze__button:focus,
.breze__button:active,
.breze__button--active {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  transition: background $ease-in-out-curve-function 0.4s;
}

.breze__button--icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 24px;
  padding: 0;
  text-align: center;
  line-height: 44px;
  border: 0;
}

.breze__button:disabled {
  color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
