@import './variables.scss';

.breze__card__title {
  height: 60px;
}

.breze__card__header {
  position: relative;
  z-index: 2;
  background: $default-background;
}

.breze__card__body {
  padding: 0.8rem 1rem;
  position: relative;
  min-height: 280px;
}

.breze__card__body--disabled::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.breze__card .breze__collapse {
  top: 60px;
  z-index: 1;
}

.breze__card {
  border-top: 3px solid $primary-color-2;
  display: block;
  position: relative;
  min-width: 300px;
  overflow: hidden;
}

.breze__card__body--center {
  text-align: center;
}

.breze__card__options {
  font-size: 0.8rem;
  padding: 0.8rem 0.4rem;
}

@media only screen and (max-width: 600px) {
  .breze__card {
    width: 100%;
    margin-right: 0 !important;
  }
}
