@import './variables.scss';

.breze__collapse {
  position: absolute;
  overflow: hidden;
  right: 0;
  left: 0;
  top: 0;
  background: $default-background;
  transform: translateY(-100%);
  opacity: 0;
  transform-origin: 0 0;
  transition: transform $ease-in-out-curve-function 0.4s,
    opacity $ease-in-out-curve-function 0.2s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
}

.breze__collapse--open {
  transform: translateY(0);
  opacity: 1;
  transition: transform $ease-in-out-curve-function 0.4s,
    opacity $ease-in-out-curve-function 0.2s;
}
