.breze__flex-row {
  display: flex;
  flex-direction: row;
}

.breze__flex-column {
  display: flex;
  flex-direction: column;
}

.breze__flex {
  display: flex;
}

.breze__justify-content-end {
  justify-content: flex-end;
}

.breze__align-items-end {
  align-items: flex-end;
}

.breze__align-items-center {
  align-items: center;
}

.breze__align-items-between {
  align-items: space-between;
}

.breze__justify-content-between {
  justify-content: space-between;
}

.breze__justify-content-center {
  justify-content: center;
}

.breze__flex-wrap {
  flex-wrap: wrap;
}

.breze__flex-grow {
  flex-grow: 1;
}
