@import './variables.scss';

.breze__header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 72px;
  background: linear-gradient(to right top, $gradient-start, $gradient-end);
  color: #333;
  border-top: 2px solid $primary-color;
}

.breze__dashboard-controls {
  width: 100%;
  background: $primary-color-3;
}

.breze__dashboard-controls .breze__button {
  border: none;
  color: white;
}

.breze__dashboard-modifiers {
  width: 300px;
  padding: 0 $default-padding;
  max-width: 300px;
  background: #e8e8e8;
  position: absolute;
  right: 0;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .breze__dashboard-modifiers {
    transform: translateX(300px);
  }
  .breze__dashboard-modifiers--visible {
    transform: translateX(0);
  }
  .breze__dashboard-live {
    padding-right: 300px;
  }
}

.breze__dashboard-view {
  padding: 0 $default-padding;
}

.breze__subheader {
  width: 100%;
  background: $primary-color-3;
}

.breze__subheader-2 {
  width: 100%;
  background: rgba(255, 255, 255, 0.12);
}

.breze__subheader .breze__button {
  border: none;
  color: white;
}
.breze__subheader .breze__button:hover,
.breze__subheader .breze__button.breze__button--active,
.breze__subheader .breze__button:active {
  color: white;
}

.breze__subheader-2 .breze__button:active,
.breze__subheader-2 .breze__button:hover,
.breze__subheader-2 .breze__button.breze__button--active {
  background: $primary-color-4;
  color: white;
}

.breze__subheader-2 .breze__button {
  background: $greye;
  border: none;
  color: $grey3;
}
