@import './variables.scss';

.breze__navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.breze__navigation-item {
  display: flex;
}

.breze__navigation-link {
  display: flex;
  height: $header-height;
  align-items: center;
  justify-content: center;
  padding: $default-padding;
  color: #333;
  text-decoration: none;
  position: relative;
}

.breze__navigation-link:hover {
  background-color: $primary-color-3;
  color: white;
}

.breze__navigation-link--active {
  font-weight: 600;
}

.breze__navigation-link--active::after {
  content: ' ';
  // Triangle
  // position: absolute;
  // left: 50%;
  // margin-left: $header-height / 6 * -1;
  // width: 0;
  // height: 0;
  // bottom: 0;
  // border-left: $header-height / 6 solid transparent;
  // border-right: $header-height / 6 solid transparent;
  // border-bottom: $header-height / 6 solid $primary-color-3;
  // border-top: $header-height / 6 solid transparent;
  // Bottom bar
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary-color-3;
  height: 6px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
