@import './variables.scss';

$radio-width: 1rem;

.breze__radio {
  display: inline-block;
  margin: $default-padding/2 $default-padding $default-padding 0;
  color: $grey5;
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    + .breze__radio-label {
      &:before {
        content: '';
        background: $greye;
        border-radius: 100%;
        border: 1px solid $grey9;
        display: inline-block;
        width: $radio-width;
        height: $radio-width;
        position: relative;
        top: $radio-width / 7 * -1;
        margin-right: $default-padding / 3;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .breze__radio-label {
        color: $grey3;
        font-weight: 600;
        &:before {
          background-color: $primary-color;
          box-shadow: inset 0 0 0 4px $greye;
        }
      }
    }
    &:focus {
      + .breze__radio-label {
        &:before {
          outline: none;
          border-color: $primary-color;
        }
      }
    }
    &:disabled {
      + .breze__radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $greye;
          border-color: $grey9;
          background: $grey9;
        }
      }
    }
    + .breze__radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
