@import './variables.scss';

$spacer1: 0.8 * $default-padding;
$spacer2: 1.1 * $default-padding;
$spacer3: 1.3 * $default-padding;
$spacer4: 1.5 * $default-padding;

.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}

.px-2 {
  padding-left: $spacer2;
  padding-right: $spacer2;
}

.pt-2 {
  padding-top: $spacer2;
}

.pl-2 {
  padding-left: $spacer2;
}

.pb-2 {
  padding-bottom: $spacer2;
}

.py-2 {
  padding-top: $spacer2;
  padding-bottom: $spacer2;
}

.p-2 {
  padding: $spacer2;
}

.ml-2 {
  margin-left: $spacer2;
}

.mr-2 {
  margin-right: $spacer2;
}

.mr-1 {
  margin-right: $spacer1;
}

.ml-1 {
  margin-left: $spacer1;
}

.mb-2 {
  margin-bottom: $spacer2;
}

.mt-2 {
  margin-top: $spacer2;
}

.m-2 {
  margin: $spacer2;
}

.p-4 {
  padding: $spacer4;
}
