$gradient-start: #fcfcfc;
$gradient-end: #fcfcfc;

$ease-in-out-curve-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$default-background: #f0f0f0;
$card-header-height: 40px;
$primary-color: #6a1b9a;
$primary-color-2: darken($primary-color, 20%);
$primary-color-3: desaturate($primary-color, 15%);
$primary-color-4: desaturate(darken($primary-color, 5%), 15%);

$default-padding: 0.8rem;

$grey3: #333;
$grey4: #444;
$grey5: #555;
$grey6: #666;
$grey7: #777;
$grey8: #888;
$grey9: #999;
$greya: #aaa;
$greyb: #bbb;
$greyc: #ccc;
$greyd: #ddd;
$greye: #eee;
$greyf: #fff;

$header-height: 72px;
