<div class="p-2 breze__dashboard-controls">
  <button (click)="saveState()" class="breze__button mr-2">Save</button>
  <label class="breze__button mr-2" for="load">
    Load
    <input
      type="file"
      id="load"
      name="files"
      accept=".brz"
      class="breze__hidden"
      (change)="loadState($event)"
    />
  </label>
  <button (click)="reset()" class="breze__button mr-2">Reset</button>
</div>
<div
  class="breze__dashboard-modifiers"
  [ngClass]="{
    'breze__dashboard-modifiers--visible': modifiersShown,
    'breze__slide-in-right': modifiersShown
  }"
>
  <div
    class="breze__flex breze__align-items-center breze__justify-content-between"
  >
    <div class="breze__flex breze__align-items-center">
      <h2>Modifiers</h2>
      <button
        (click)="addModifier()"
        class="breze__button breze__button--icon mr-2"
      >
        <span class="icon-add_circle"></span>
      </button>
    </div>
    <button
      (click)="hideModifiers()"
      class="breze__button breze__button--icon mr-2 breze__m--visible"
    >
      <span class="icon-cancel"></span>
    </button>
  </div>
  <div *ngIf="!(modifiers$ | async)?.size">
    No modifier yet, you can add one to transform chords for instance C into
    Csus4
  </div>
  <bz-modifier
    (modifierUpdated)="updateModifier($event, id)"
    (askForRemove)="removeModifier(id)"
    class="breze__fade-in-bottom"
    [inputModifier]="modifier"
    *ngFor="
      let modifier of modifiers$ | async;
      let id = index;
      trackBy: trackById
    "
  ></bz-modifier>
</div>
<bz-root-picker
  (rootChange)="registerNewRoot($event)"
  [selectedRoot]="stateV2.root"
></bz-root-picker>
<bz-progression-picker
  (progressionChange)="registerNewProgression($event)"
  [selectedProgression]="stateV2.progression"
></bz-progression-picker>
<div class="breze__dashboard-view breze__flex-column">
  <div
    class="
      breze__flex-row breze__justify-content-between breze__align-items-center
    "
  >
    <div
      class="
        breze__flex-row breze__justify-content-between breze__align-items-center
      "
    >
      <h2>Live view</h2>
      <button (click)="addCard()" class="breze__button ml-2 breze__m--hidden">
        Add a card <span class="icon-add_circle breze__icon-sm ml-1"></span>
      </button>
      <button
        (click)="addCard()"
        class="breze__button breze__button--icon ml-2 breze__m--visible"
      >
        <span class="icon-add_circle"></span>
      </button>
    </div>

    <button
      (click)="showModifiers()"
      class="breze__button breze__button--icon breze__m--visible"
    >
      <span class="icon-tune"></span>
    </button>
  </div>
  <div class="breze__flex">
    <div class="breze__dashboard-live breze__flex-grow">
      <div class="breze__flex breze__flex-wrap pb-2">
        <bz-generic-card
          *ngFor="let cardData of cardsData; let id = index"
          class="breze__card mr-2 breze__fade-in-bottom"
          [stateV2]="stateV2"
          [cardId]="id"
          [cardState]="cardData"
          (duplicate)="dulpicateCard($event)"
          (update)="handleCardUpdate(id, $event)"
          (askForRemoval)="removeCard(id)"
        ></bz-generic-card>
      </div>
    </div>
  </div>
</div>
