<ul class="breze__navigation-list">
  <li class="breze__navigation-item" *ngFor="let item of navigationItems">
    <a
      [routerLink]="item.routerLink"
      class="breze__navigation-link"
      [routerLinkActive]="'breze__navigation-link--active'"
      >{{ item.label }}</a
    >
  </li>
</ul>
