@media print {
  /* All your print styles go here */
  .breze__dashboard-controls,
  .breze__dashboard-modifiers {
    display: none;
  }
  .breze__button {
    display: none;
  }

  .breze__card {
    border-top: 0 !important;
    flex-grow: 1;
  }
  .breze__card__body {
    min-height: 100px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
