@import '../../../../theme/variables.scss';

:host {
  min-height: 120px;
  min-width: 120px;
  position: relative;
}

.breze__diagram__string {
  stroke: #333;
  stroke-width: 1;
}

.breze__diagram__fret {
  stroke: #999;
}

.breze__diagram__fret--first {
  stroke: #333;
  stroke-width: 5;
}

.breze__diagram__bullet--empty {
  fill: white;
  stroke: #333;
  stroke-width: 1;
}

.breze__diagram__bullet--full {
  fill: #333;
}

.breze__diagram__label {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

.breze__diagram__fret-label {
  text-anchor: middle;
}

.breze__diagram__note {
  font-size: 0.8;
}

.breze__active-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: $primary-color-4;
}
