<ng-container *ngIf="displayed">
  <h2 class="breze__diagram__label">{{ label }}</h2>
  <svg
    [attr.width]="width"
    [attr.height]="height"
    [attr.viewBox]="'0 0 ' + width + ' ' + height"
  >
    <g class="frets" *ngFor="let fret of verticalLines; let id = index">
      <text
        [attr.y]="(margin.top * 2) / 3"
        [attr.x]="fret - fretSize / 2"
        class="breze__diagram__fret-label"
        font-size="12"
        *ngIf="id !== 0"
      >
        {{ id }}
      </text>
      <line
        class="breze__diagram__fret"
        [attr.y1]="margin.top"
        [attr.y2]="innerHeight + margin.top"
        [attr.x1]="fret"
        [attr.x2]="fret"
        [ngClass]="{ 'breze__diagram__fret--first': id === 0 }"
      ></line>
    </g>
    <g *ngFor="let string of strings; let id = index">
      <text
        [attr.y]="string.y"
        x="0"
        class="breze__diagram__note"
        dy="5"
        font-size="10"
      >
        {{ string.stringName | noteWithHeight }}
      </text>
      <line
        [attr.x1]="margin.left"
        [attr.x2]="margin.left + innerWidth - margin.right"
        [attr.y1]="string.y"
        [attr.y2]="string.y"
        class="breze__diagram__string"
      ></line>
      <circle
        [attr.cy]="string.y"
        [attr.cx]="string.x"
        r="5"
        *ngIf="string.x"
        [ngClass]="{
          'breze__diagram__bullet--full': string.position > 0,
          'breze__diagram__bullet--empty': string.position === 0
        }"
      ></circle>
    </g>
  </svg>
</ng-container>
