@import '../../../../theme/variables.scss';

.breze__degree {
  width: 140px;
  text-align: center;
  border: 1px solid $primary-color-3;
  cursor: pointer;
}

.breze__degree--selected {
  background: $primary-color-3;
  font-weight: 600;
  color: white;
}
