@import '../../../../theme/variables.scss';

.breze__root {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid $primary-color-3;
}

.breze__root--selected {
  background: $primary-color-3;
  color: white;
}
