<div class="pl-2">
  <div class="breze__flex py-2"><div class="breze__h2">Root</div></div>
  <div class="breze__flex breze__flex-wrap breze__align-items-center">
    <div
      *ngFor="let root of notes"
      class="breze__root"
      [ngClass]="{ 'breze__root--selected': root === _selectedRoot }"
      (click)="selectRoot(root)"
    >
      {{ root }}
    </div>
  </div>
</div>
