<div class="progression__row breze__justify-content-center">
  <bz-diagram
    *ngFor="let item of instrumentState?.progression; let idChord = index"
    [label]="item.chord"
    [data]="instrument"
    [positions]="item.positions"
  ></bz-diagram>
</div>
<div class="breze__flex breze__justify-content-center">
  <button (click)="playProgression()" class="breze__button mt-2">
    <span class="icon-play_arrow"></span> Play progression
  </button>
</div>
